.header{
  display: flex;
  align-items: center;
  background-color: rgb(16, 18, 24);
  color: white;
  justify-content: space-between;
  padding: 0.5% 10%;
}

.header_logo img{
  width: 90%
}


.header_logo{
  cursor: pointer;
}

.header_links ul{
  display: flex;
  list-style: none;
}

.header_links li{
  margin-right: 2rem;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .header{
    margin-bottom: 0;
    justify-content: flex-start;
    padding: 0.5rem 0;

  }
  .header_logo img{
    width: 7rem;
  }

  .header_links li{
    font-size: 0.6rem;
    margin-right: 0.6rem;
  }

  .header_links{
    margin-left: 1rem;
  }
}